# deps/build
node_modules/
.next/
out/
dist/
coverage/
.turbo/

# env & logs
.env*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editors/OS
.vscode/
.vs/
.idea/
.DS_Store

# misc
*.log
