# deps/build
node_modules/
.next/
out/
dist/
coverage/
.turbo/

# env & logs
.env*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editors/OS
.vscode/
.vs/
.idea/
.DS_Store

# misc
*.log
# accidental binaries & temp text files
/public/media/EAappInstaller.exe
/public/media/PlayStationAccessoriesInstaller.exe
/public/media/message (1).txt
/public/media/message.txt
/public/media/v5-txr1udkym8e.pdf
